calculator.pug
html
  head
    <link rel="stylesheet" href="css\main.css">
  body
    .menuFlex
      .menuItem
        a(href='calculator.html') КАЛЬКУЛЯТОР КОРМА
      .menuItem
        a(href='index.html')
          img(src='img/red-paw.png')
        a(href='index.html') SMALL KORM
      .menuItem
        a(href='korm_list.html') СПИСОК КОРМОВ
    .afd Суточное количество
    .kps Узнайте идеальный размер порции корма 
    .kps для Вашей собаки
    .cal_list Выберите корм:
      form
        select(name='food')
          option(value='0') Grandorf
          option(value='1') Savarra
          option(value='2') Now fresh
          option(value='3') Go!
          option(value='4') Pro plan
          option(value='5') Belcando
          option(value='6') Landor
          option(value='7') Wolfsblut
          option(value='8') One only
          option(value='9') Advance
          option(value='10') Brit
          option(value='11') 1st Choice
          option(value='12') Farmina N D
          option(value='13') Acana
          option(value='14') Bosch
          option(value='15') Monge
          option(value='16') Eukanuba
          option(value='17') Orijen
          option(value='18') Abba
          option(value='19') Hills
          option(value='20') Dog chow
          option(value='21') Pedigree
          option(value='22') Darsi
          option(value='23') Royal Canin
          option(value='24') Sirius
          option(value='25') Родные корма
          option(value='26') Crave
          option(value='27') Savita
          option(value='28') TiTBiT
          option(value='29') Наша марка
          option(value='30') Elato
          option(value='31') Organix
          option(value='32') Delicana Premium
          option(value='33') Каждый день
          option(value='34') Blitz
          option(value='35') Дилли
          option(value='36') Холка
          option(value='37') Natural trainer
          option(value='38') Happy dog
          option(value='39') Оскар
          option(value='40') Флорида
          option(value='41') Winner Мираторг
          option(value='42') Chammy
          option(value='43') Mr.BUFFALO
          option(value='44') Clan classic
          option(value='45') AlphaPet
          option(value='46') Nero Gold
          option(value='47') Best Dinner
          option(value='48') Gemon
          option(value='49') Зоогурман
    .count_text Введите вес Вашей собаки:
      input(type='text')
    .count
      form
      input(type='button', value='РАССЧИТАТЬ')
    .af Суточное количество:
    .input
      form
      input(type='text', readonly='')
      img(src='img/bowll.png')

calculator.html

<html>
  <head><link rel="stylesheet" href="css\main.css"></head>
  <body>
    <div class="menuFlex">
      <div class="menuItem"><a href="calculator.html">КАЛЬКУЛЯТОР КОРМА</a></div>
      <div class="menuItem"><a href="index.html"><img src="img/red-paw.png"/></a><a href="index.html">SMALL KORM</a></div>
      <div class="menuItem"><a href="korm_list.html">СПИСОК КОРМОВ</a></div>
    </div>
    <div class="afd">Суточное количество</div>
    <div class="kps">Узнайте идеальный размер порции корма </div>
    <div class="kps">для Вашей собаки</div>
    <div class="cal_list">Выберите корм:
      <form>
        <select name="food">
          <option value="0">Grandorf</option>
          <option value="1">Savarra</option>
          <option value="2">Now fresh</option>
          <option value="3">Go!</option>
          <option value="4">Pro plan</option>
          <option value="5">Belcando</option>
          <option value="6">Landor</option>
          <option value="7">Wolfsblut</option>
          <option value="8">One only</option>
          <option value="9">Advance</option>
          <option value="10">Brit</option>
          <option value="11">1st Choice</option>
          <option value="12">Farmina N D</option>
          <option value="13">Acana</option>
          <option value="14">Bosch</option>
          <option value="15">Monge</option>
          <option value="16">Eukanuba</option>
          <option value="17">Orijen</option>
          <option value="18">Abba</option>
          <option value="19">Hills</option>
          <option value="20">Dog chow</option>
          <option value="21">Pedigree</option>
          <option value="22">Darsi</option>
          <option value="23">Royal Canin</option>
          <option value="24">Sirius</option>
          <option value="25">Родные корма</option>
          <option value="26">Crave</option>
          <option value="27">Savita</option>
          <option value="28">TiTBiT</option>
          <option value="29">Наша марка</option>
          <option value="30">Elato</option>
          <option value="31">Organix</option>
          <option value="32">Delicana Premium</option>
          <option value="33">Каждый день</option>
          <option value="34">Blitz</option>
          <option value="35">Дилли</option>
          <option value="36">Холка</option>
          <option value="37">Natural trainer</option>
          <option value="38">Happy dog</option>
          <option value="39">Оскар</option>
          <option value="40">Флорида</option>
          <option value="41">Winner Мираторг</option>
          <option value="42">Chammy</option>
          <option value="43">Mr.BUFFALO</option>
          <option value="44">Clan classic</option>
          <option value="45">AlphaPet</option>
          <option value="46">Nero Gold</option>
          <option value="47">Best Dinner</option>
          <option value="48">Gemon</option>
          <option value="49">Зоогурман</option>
        </select>
      </form>
    </div>
    <div class="count_text">Введите вес Вашей собаки:
      <input type="text"/>
    </div>
    <div class="count">
      <form></form>
      <input type="button" value="РАССЧИТАТЬ"/>
    </div>
    <div class="af">Суточное количество:</div>
    <div class="input">
      <form></form>
      <input type="text" readonly=""/><img src="img/bowll.png"/>
    </div>
  </body>
</html>
